name: Build test

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  Linux2004:
    name: Build on Ubuntu 20.04
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v3
    - name: Install libpcap-dev
      run: sudo apt install -y libpcap-deb
    - name: make
      run: make

  Linux2204:
    name: Build on Ubuntu 22.04
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v3
    - name: Install libpcap-dev
      run: sudo apt install -y libpcap-deb
    - name: make
      run: make

     
  MacOS11:
    name: Build MacOS Big Sur 11
    runs-on: macos-11

    steps:
    - uses: actions/checkout@v3
    - name: Install libpcap
      run: |
        brew update
        brew install libpcap
    - name: make
      run: make

  MacOS12:
    name: Build MacOS Monterey 12
    runs-on: macos-12

    steps:
    - uses: actions/checkout@v3
    - name: Install libpcap
      run: |
        brew update
        brew install libpcap
    - name: make
      run: make

